{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <h1 class="col-12 text-center my-5">le Blog de Batman</h1>
    </div>

    <div class="row">
        <h2 class="text-center col-12 my-4lorem5"></h2>

        <p class="col-12 col-md-10 offset-md-1 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et maiores nisi reiciendis vero! Assumenda cupiditate eos quod, ratione sint temporibus. Assumenda cumque debitis impedit veniam voluptates. A ab animi consequuntur cum, doloribus earum, explicabo harum ipsa ipsum iure laboriosam magni nam nihil non placeat praesentium quis quisquam, temporibus vitae voluptatum.</p>
    </div>
    <div class="batman-cover row my-5"></div>
</div>
    <h2 class="text-center">dernier article publiés</h2>
    {% for article in articles %}
    <div class="row mx-0">
        <div class="col-8 my-3 mx-auto">

            <div class="card">
                <div class="card-header bg-secondary text-black">
                    {{ article.title }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-black text-white">{{ article.content|striptags|excerpt(20) }}
                        <a href="{{path( 'blog_article',{'slug':article.slug} )}}">voir plus</a>
                    </li>
                    <li class="list-group-item bg-secondary text-black">ecrit par {{ article.user.pseudo }} le {{ article.publicationDate|date('d/m/Y à H\\hi') }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

