{% extends 'base.html.twig' %}
{% block title %}
    liste des article
{% endblock %}

{% block body %}
    <h1 class="text-center">liste des Article!</h1>
    <div class="container">
        <div class="row">
            {% for article in liste|sort((a, b) => b.id <=> a.id) %}
                <div class="col-12 my-3">

                    <div class="card">
                        <div class="card-header bg-secondary text-black">
                            {{ article.title }}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-black text-white">{{ article.content|excerpt(20)|purify }}
                                <a href="{{path( 'blog_article',{'slug':article.slug} )}}">voir plus</a>
                            </li>
                            <li class="list-group-item bg-secondary text-black">ecrit par {{ article.user.pseudo }} le {{ article.publicationDate|date('d/m/Y à H\\hi') }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}


